<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
    <div class="intro-box">
        <div class="intro img">
            <p class="intro-title">Bienvenido a</p>
            <h1 class="intro-title-name">NEWSHORE AIR</h1>
            
    
            <div class="intro-btn-box">
                <button (click)="goToJourneyPage()" routerLinkActive="router-link-active" class="mywork-btn"><p>VUELOS</p> 
                </button>
                <button onclick="window.open('https://www.newshore.es/');" class="about-btn">NEW SHORE</button>
            </div>
    
        </div>
    
    </div>
<!--<div class="social-links-box">

    <p>&#169; Created by Alejandro Cuaran</p>

    <div style="margin-right: 1rem;">
        <img onclick="window.open('https://www.linkedin.com/in/alejandro-cuaran-b94765215/', '_blank');"
            src="../../assets/img/linkedin-icon.png" alt="">
    </div>


</div>-->
